# Gerard Marull-Paretas <gerard@teslabs.com>
# SPDX-License-Identifier: MIT

[commit]
	gpgsign = true
[core]
	editor = vim
[init]
	defaultBranch = main
[rebase]
	autosquash = true
[push]
	autoSetupRemote = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[user]
	name = Gerard Marull-Paretas
	email = gerard@teslabs.com
	signingKey = gerard@teslabs.com
