# Gerard Marull-Paretas <gerard@teslabs.com>
# SPDX-License-Identifier: MIT

[branch]
        sort = -committerdate
[commit]
	gpgSign = true
	verbose = true
[core]
	editor = vim
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	prune = true
	pruneTags = true
[init]
	defaultBranch = main
[merge]
	conflictStyle = zdiff3
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[rerere]
	enabled = true
	autoUpdate = true
[push]
	autoSetupRemote = true
[tag]
        sort = version:refname
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[user]
	name = Gerard Marull-Paretas
	email = gerard@teslabs.com
	signingKey = gerard@teslabs.com
